body{
    margin: 0.2em auto;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 720px;
    max-height: 1280px;
    border-radius: 15px;
}

/* main {
    height: 70vh;
} */

.hidden {
    display: none;
}

.profile {
    position: relative;
    padding: 0 0.5em;
    /* height: 80vh; */
    /* border: purple 2px solid; */
}

.profile {
    background-color: #fff;
    /* border-radius: 20px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* height: 800px; fixed height */
  }
  

.profile-img {
    border-radius: 15px;
    width: 100%;
    height: 800px;
    object-fit:cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) -11.44%, rgba(0, 0, 0, 0) 39.97%),
}

.paw-icon-container {
    background-image: linear-gradient(to left, #fa695a, #f83375);
    padding: 10px 5px;
    border-radius: 30px;
    width: 80px;
    text-align: center;
}

.paw-icon{
    filter: brightness(0) invert(1);
    width: 25px
}

.profile-info {
    position: absolute;
    bottom: 5em;
    left: 0.8em;
    font-size: 2rem;
    color:#F8F8F8;
}

.profile-name {
    margin:0;
}

.profile-bio {
    font-size: 1.5rem;
    color: #f8f8f8;
    margin:0;
    /* border: red 3px solid; */
}
.absolute-top-left {
    position: absolute;
    top: 0;
    left: 0.5em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    /* background-color: green; */
}

.profile-icon, .chat-icon{
    width: 35px;
}

.actions {
    display: flex;
    justify-content: center;
    /* border: purple 2px solid; */
    gap: 2em;
    padding: 0.5em 0
}

button {
    border-radius: 50%;
    padding: 2em;
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0px #E9E9EA;
    cursor: pointer;
}

.nope-icon, .like-icon {
    width: 40px;
}
  
.actions button:first-child:hover,
.actions button:first-child:focus {
  background-color: #FFE7EF;
}

.actions button:nth-child(2):hover,
.actions button:nth-child(2):focus {
  background-color: #DBFFF4;
}

.end-msg-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.end-msg{
    font-size: 3rem;
}